footer {
    background-color: #49173B;
    height: 75px;
    align-items: center;
    text-align: center;
    width: 100%;
    bottom: 0;
    margin: 100px auto 0;
    position: relative;
}

.bottom {
    background-color: #87E990;
    height: 15px;
  }