.navbar-dark .navbar-brand {
    color: black;
}

.navbar-dark .navbar-brand:hover{
    color: black;
}

.navbar-dark .navbar-toggler{
    color: black;
}
    
.navbar-nav {
    text-align: center;
}

.navbar {
    padding: 10px;
}

.searchIcon {
    background-color: #49173B;
    border-radius: 50px 0 0 50px; 
    height: 38px;
}