.blocForm {
    padding: 0 50px;
}

@media (max-width: 576px) {
    .blocForm {
        padding: 0;
    }
    .MuiPaper-root.MuiStepper-root.MuiStepper-horizontal.MuiPaper-elevation0 {
        flex-direction: column;
        display: block;
    }
    .MuiTypography-root.MuiStepLabel-label.MuiStepLabel-active.MuiTypography-body2.MuiTypography-displayBlock {
        padding: 20px;
    }
    .MuiStep-root.MuiStep-horizontal {
        padding: 20px;
    }
}

.title-form{
    font-size: 25px;
    line-height: 30px;
}

.label-info-annonce {
    font-weight: 700;
    @media (max-width: 576px) {
        text-align: left;
    }
}