.blocForm {
    padding: 0 50px;
}

@media (max-width: 576px) {
    .blocForm {
        padding: 0;
    }
    .MuiPaper-root.MuiStepper-root.MuiStepper-horizontal.MuiPaper-elevation0 {
        flex-direction: column;
        display: block;
    }

    .MuiStep-root.MuiStep-horizontal {
        padding: 20px;
    }
}

.title-form{
    font-size: 25px;
    line-height: 30px;
}

.MuiSvgIcon-root.MuiStepIcon-root.MuiStepIcon-completed {
    color: #49173B;
}

.MuiSvgIcon-root.MuiStepIcon-root.MuiStepIcon-active {
    color: #49173B;
}

.MuiButtonBase-root.MuiButton-root.MuiButton-contained.MuiButton-containedPrimary {
    background-color: #49173B;
}

.label-info-annonce {
    font-weight: 700;
    @media (max-width: 576px) {
        text-align: left;
    }
}

.label-info-annonce-prix {
    font-size: 18px;
    font-weight: 700;
    @media (max-width: 576px) {
        text-align: left;
    }
}

#TextareaObservation {
    height: 50px;
}

.price-texte {
    padding: 0 20px;
}

.info-annonce-date {
    background-color: #49173B;
    color: #ffffff;
    font-weight: 700;
    padding: 20px 0;
    border: 1px solid #ffffff;
}

.info-annonce-night {
    background-color: #49173B;
    color: #ffffff;
    font-weight: 700;
    padding: 10px 0;
    border: 1px solid #ffffff;
}

.title-form-Announce{
    text-align: center;
    font-size: 16px;
    line-height: 30px;
    color: darkgrey;
}

.title-form-Announce-active{
    background: #49173B;
    color: #ffffff;
}


.ServicesOptions {
    border: 2px solid #49173B;
    margin: 10px;
}

.serviceTitle {
    font-size: 1rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.00938em;
}

.serviceTitleSerinity {
    font-size: 1rem;
    font-family: "Nunito";
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    padding: 0 20px;
}

.priceStyle {
    border: none;
    display: flex;
    justify-content: center;
}

#accordion__heading-0, #accordion__heading-1 {
    border: 1px solid #49173B;
    margin-top: 20px;
    @media (max-width: 576px) {
        margin: 0;
    }
}

#accordion__heading-6 {
    border: 1px solid black;
}

#accordion__panel-0, #accordion__panel-1 {
    border: 1px solid #49173B;
}



// #accordion__panel-3:active {
//     // border: 1px solid #49173B;
//     background-color: #87E990;
// }



.accordion__item + .accordion__item {
    border-top: transparent;
}

.moveBloc {
    margin-left: 520px;
    @media (max-width: 576px) {
        margin-left: 0;
    }
}

.PrivateRadioButtonIcon-root-618.PrivateRadioButtonIcon-checked-620 {
    color: #49173B;
}

// #accordion__heading-0 {
//     background-color: #87E990;
// }

.accordion {
    border-top: transparent;
}

.btn.btn-primary {
    background-color: #49173B;
    border: transparent;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #49173B;
    border: transparent;
    box-shadow: 0px 5px 5px -3px rgba(0,0,0,0.2),0px 8px 10px 1px rgba(0,0,0,0.14),0px 3px 14px 2px rgba(0,0,0,0.12);
}

.MuiButton-label {
    font-family: 'Nunito';
}