.Main-Title, .Secondary-Title, .Third-Title {
    margin: 25px 0;
    font-weight: 800;
}

.Secondary-Title {
    margin-bottom: 30px;
}

.Third-Title {
    text-align: left;
}

.Third-Title-underline {
    text-align: left;
    text-decoration: underline;
    margin-bottom: 30px;
}

.title {
    display: inline-block;
    margin: 5px O;
    font-weight: 800;
    font-size: 18px;
}

.para-bold {
    font-weight: 800;
    margin: 20px 0;
}

.text {
    font-size: 18px;
    padding: 10px 0;
}