.colorBackgroundConnexion {
    background: #FAF0E6;
    padding: 45px 0px 46px 12px;
    margin: 30px 0px 70px 0px;
}

@media (max-width: 768px) {
    .colorBackgroundConnexion  {
        background: transparent;
        border-color: transparent;
        margin: 0;
    }
}

.BlocConnexion {
    background: #FAF0E6;
    margin: 40px 0;
    padding: 11px;
}

#BlocExplicationPropriétaire {
    background: #FAF0E6;
    margin: 40px 0;
    padding: 11px;
}

.text-connection {
    display: block;
    padding: 25px;
    margin: 100px 15px;
    opacity: 0.8;
    background: #fff;
}

@media (max-width: 575.98px) { 
    #Locataire {
        display: none;
    }

    #BlocExplicationPropriétaire {
        display: block;
    }
 }

@media (min-width: 576px) and (max-width: 767.98px) {  
    #Locataire {
        display: none;
    }
    
    .BlocConnexion {
        background: #FAF0E6;
        margin: 95px 0;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) { 
    .BlocConnexion {
        margin: 43px 0;
        padding: 50px 0;
    }
    
}

@media (min-width: 992px) and (max-width: 1199.98px) {  
    .BlocConnexion {
        margin: 48px 0;
        display: flex;
        justify-content: center;
        padding: 50px 0;
    }
}

@media (min-width: 1200px) {
    .BlocConnexion {
        margin: 48px;
        display: flex;
        justify-content: center;
        padding: 50px;
    }
}


.Vertical-lign-connexion {
    position: absolute;
    background: #A38068;
    mix-blend-mode: normal;
    border: 1px solid #000000;
    box-sizing: border-box;
    filter: blur(2px);
    height: 410px;
    width: 4px;
    display: flex;
}

@media (min-width: 768px) and (max-width: 991.98px) { 
    .Vertical-lign-connexion {
        margin-left: 48%;
    }
}

@media (max-width: 768px) {
    .Vertical-lign-connexion   {
        display: none;
    }
}

.connexion-proprietaire {
    height: auto;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 26px;
}

@media (max-width: 576px) {
    .connexion-proprietaire {
        display: none;
    }
}

#btn-seConnecter {
    border-radius:20px;
    width:40px;
    height:40px;
    color: black;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0);
    background: #87E990;
    border-color: transparent;
    color: black;
    margin-left: 20px;
    margin-right: 5px;
}

#seConnecter {
    color: #000000;
    text-decoration: none;
}

#seConnecterMobile {
    background-color: #87E990;
    border-radius: 50px; 
    border-color: transparent;
    height: 38px;
    color: black;
    width: 147px;
}


#BlocExplicationPropriétaire {
    margin: 40px 0;
    padding: 11px;
  }

  @media (max-width:766px){
    #BlocExplicationPropriétaire {
        display: b;
    }
  }

