.contact-bloc {
    background-color :#FAF0E6;
    padding: 40px 27px 41px;
    margin: 30px 27px 45px 40px;
}

@media (max-width: 576px) {
    .contact-bloc {
        margin-left: 0;
        margin-right: 0;
    }
}

@media (max-width: 576px) {
    .contact-bloc {
        margin-left: 0;
        margin-right: 0;
    }
}

.contact-bloc-map {
    background-color : transparent;
    width: 100%;
}

@media (max-width: 576px) {
    .contact-bloc-map {
        margin-left: 0;
        margin-right: 0;
    }
}

.contact-bloc-informations {
    background-color :#FAF0E6;
    border: 1px solid #A38068;
    font-size: 15px;
    padding: 10px 20px;
    margin: 25px 0 10px 20px;
    max-width: 775px;

    .Position_icon {
        align-items: center;
        height: 65px;
    }

    .Position_informations {
        align-items: center;
        height: 65px;
        justify-content: left;
        
    }
}

@media (max-width: 768px) {
    .contact-bloc-informations {
        background-color : transparent;
        border-color: transparent;

        .Position_icon {
            background-color : transparent;
            height: 50px;
            margin-top: 25px;
        }
    
        .Position_informations{
            background-color : transparent;
            height: 50px;
            justify-content: center;
        }
    }
}

h3 {
    text-align: center;
}

#btn-envoyer{
    border-radius:20px;
    width:40px;
    height:40px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0);
    background: #87E990;
    border-color: transparent;
    color: #000000;
    margin-right: 16px;
}

#envoyer{
    background-color: transparent;
    color: #000000;
    border-color: transparent;

    .envoyer:hover{
        background-color: transparent;
        color: #000000;
        border-color: transparent;
    } 
} 

.envoyer:hover{
    background-color: transparent;
    color: #000000;
    border-color: transparent;
} 

#btn-envoyerMobile {
    background-color: #87E990;
    border-radius: 50px; 
    border-color: transparent;
    height: 38px;
    color: #000000;
}

#envoyerMobile {
    background-color: #87E990;
    border-radius: 50px; 
    border-color: transparent;
    height: 38px;
    color: #000000;
    width: 137px;
}

.sendIconZone {
    background-color: #87E990;
    border-radius: 50px; 
    border-color: transparent;
    height: 38px;
    color: #000000;
}

.content-bouton {
    background-color: transparent;
    border-color: transparent;
}

.content-bouton:hover {
    background-color: transparent;
    border-color: transparent;
}

.content-bouton:active{
    background-color: transparent;
    border-color: transparent;
}

//Map
.map-contact {
    height: auto;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 26px; 
}

.horizontal_lign {
background: #A38068;
mix-blend-mode: normal;
border: 1px solid #000000;
box-sizing: border-box;
filter: blur(2px);
transform: matrix(1, 0, 0, -1, 0, 0);
margin-right: 5px;
}

@media (max-width: 576px) {
    .horizontal_lign {
        display: none;
    }
}

.Vertical-lign-contact {
    position: absolute;
    background: #A38068;
    mix-blend-mode: normal;
    border: 1px solid #000000;
    box-sizing: border-box;
    filter: blur(2px);
    height: 565px;
    width: 4px;
    display: flex;
    margin-left: 49%;
    margin-top: 33px;
}

@media (max-width: 767px){
    .Vertical-lign-contact  {
        display: none;
    }

    .horizontal_lign {
        display: none;
    }
}


@media (min-width: 768px) and (max-width: 991px) {
    .Vertical-lign-contact  {
        position: absolute;
        background: #A38068;
        mix-blend-mode: normal;
        border: 1px solid #000000;
        box-sizing: border-box;
        filter: blur(2px);
        height: 783px;
        width: 4px;
        display: flex;
        margin-left: 49%;
        margin-top: 33px;
    }
}

// position: absolute;
// background: #A38068;
// mix-blend-mode: normal;
// border: 1px solid #000000;
// box-sizing: border-box;
// filter: blur(2px);
// height: 363px;
// width: 4px;
// display: flex;
// margin-left: 50%;
// margin-top: 43px;