.tabDashboard {
    width: 100%
}

.MuiTypography-body1 {
    font-family: 'Nunito';
    font-weight: 700
}

.img-circle {
    border-radius: 50%
}

.err {
    font-size: small;
    color: red;
  }

.asterisk{
    font-size: small;
    color: red;
}

.informations {
    display: flex;
    align-items: center;
    justify-content: center;
}

.personal-info {
    border: 1px solid #49173B;
    padding: 20px;

    @media (max-width: 576px) {
        margin-top: 30px;
    }
}

.label-info-generales {
    text-align: right;
    font-weight: 700;
    @media (max-width: 576px) {
        text-align: left;
    }
}


.modifierProfil {
    display: flex;
    justify-content: center;
}
