footer {
    background-color: #49173B;
    height: 75px;
    align-items: center;
    text-align: center;
    width: 100%;
    bottom: 0;
}

@media (max-width: 576px) {
    footer {
        height: 200px;
    }
  }

.bottom {
    background-color: #87E990;
    height: 15px;
  }