.top {
    background-color: #87E990;
    height: 15px;
    left: 0;
    top: 0;
  }

.navbar {
    padding: 10px 38px 10px 60px;
}

@media (max-width: 768px)  {
    .navbar {
        padding: 10px;
    }
}
    
.navbar-nav {
    text-align: center;
}

//Menu responsive
.menu-title-mobile {
    font-size: 25px;
    display: none;

    @media (max-width: 768px)  {
        .menu-title-mobile {
            display: block;
        }
    }
}