.MuiPaper-root.MuiAppBar-root
.MuiAppBar-positionStatic
.MuiAppBar-colorPrimary
.MuiPaper-elevation4 {
    background-color: transparent;
}

.MuiAppBar-colorPrimary {
    color: #fff;
    background-color: transparent;
}

.userProfilApp {
    position: absolute;
}

.userProfilInfo {
    margin: 0 30px;
    color: #49173B;
}

.MuiSvgIcon-root.iconDeconnexion.MuiSvgIcon-fontSizeLarge {
    margin: 0 25px;
}
