.colorBackground {
    position: relative;
    background: #FAF0E6;
    border: 2px solid #49173B;
    padding-bottom: 20px;
    margin: 0 60px 0 60px;
}

.text-home {
    font-size: 14px;
    line-height: 38px;
    padding: 10px 50px;
}

.card {
    background-color: transparent;
    border: transparent;
}

.style-card {
    height : 100%;
    margin : 0 auto;
}

@media (max-width: 576px) {
    .style-card {
        width: 310px;
    }
  }

.btn-success {
    margin-top: 100px;
    background: #fff;
    border: 4px solid #87E990;
    color: #000;
    width: 300px;
    height: 60px;
}

@media (max-width: 576px) {
    .btn-success {
        width: 240px;
    }
  }

.btn-success:hover {
    background: #87E990;
    color: #000000;
}

