.colorBackground {
    position: relative;
    background: #FAF0E6;
    padding-bottom: 20px;
    padding: 30px 52px;
}

ul.thumbs.animated {display: none;}

ul.control-dots {display: none;}

.carousel .carousel-status {display: none;}
.text-home {
    font-size: 14px;
    line-height: 38px;
    padding: 10px 50px;
}

.card {
    background-color: transparent;
    border: transparent;
    opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.card:hover .card-img-overlay {
    display: block;
}


.card-img-overlay {
    display: none;
}

.style-card {
    height : 100%;
    margin : 0 auto;
}

.btn-home {
    background: #fff;
    border: 4px solid #87E990;
    color: #000;
    width: 300px;
    height: 60px;
}

.btn-home:hover {
    background: #87E990;
    color: #000000;
}

.btn-success {
    margin-top: 120px;
    background: #fff;
    border: 4px solid #87E990;
    color: #000;
    width: 300px;
    height: 60px;
}

.btn-success:hover {
    background: #87E990;
    color: #000000;
}

.card-img-overlay {
    top: unset;
} 

// @media (min-width: 1200px) {
//     .colorBackground {
//         position: relative;
//         background: #FAF0E6;
//         border: 2px solid #49173B;
//         padding-bottom: 40px;
//         margin: 0 120px 0 120px;
//     }

//     .text-home {
//         font-size: 24px;
//         line-height: 40px;
//         padding: 20px 100px;
//     }
// }


// Responsives

@media (max-width: 576px) {
    .colorBackground  {
        margin: 0;
        padding: 0;
    }

    .text-home {
        padding: 10px 20px;
    }

    .style-card {
        width: 100%;
        font-size: 12px;
        height: 50%
    }

    // .btn-success {
    //     margin-top: 30px;
    //     width: 240px;
    // }
  }

  @media (max-width: 768px) {
    .colorBackground  {
        margin: 0;
        padding: 0;
    }
  }

  @media (max-width: 991px) {
    .btn-success {
        margin-top: 30px;
        width: 220px;
    }
  }

.imagetest {
    height: 200px;
    width: 300px;
  }
  
// @media (max-width: 1200px) {
//     .colorBackground {
//         position: relative;
//         background: #FAF0E6;
//         border: 2px solid #49173B;
//         padding-bottom: 20px;
//         margin: 100px 60px 20px 60px;
//         padding: 15px 52px;
//     }
// }



.carousel-indicators li {
    text-indent: -999px;
    cursor: pointer;
    display: none;
}



//Bloc services
.section {
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
}

.service-container {
    transition: all 0.5s ease;
    .number-icon .number span {
        line-height: 30px;
    }
}

.service-container:hover {
    background-color: #ffffff;
    box-shadow: 0 10px 25px rgba(47, 60, 78, 0.15) !important;
}

.para-desc {
    max-width: 600px;
}

.text-center {
    text-align: center !important;
}

.service-container .number-icon .icon-2 i {
    font-size: 30px;
}

.number.text-center.rounded-pill.bg-white.border {
    position: absolute;
    top: 0;
    right: 70px;
    left: 0;
    height: 35px;
    width: 35px;
    margin: 0 auto;
    transition: all 0.5s ease;
}


.service-container .number-icon .icon-2 {
    border-color: #3dd598 !important;
}

[class^="pe-7s-"], [class*=" pe-7s-"] {
    display: inline-block;
    font-family: 'Pe-icon-7-stroke';
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1
}

.pe-7s-shield::before {
    content: "\e6c5";
}

.pe-7s-note2::before {
    content: "\e69d";
}

.shadow {
    box-shadow: 0 0 3px rgba(47, 60, 78, 0.15) !important;
}

.icon-2.d-inline-block.border.rounded-pill {
    height: 70px;
    width: 70px;
    line-height: 80px;
    border-radius: 64% 36% 55% 45% / 76% 72% 28% 24% !important;
    border-color: #3dd598 !important;
}

.service-container:hover .number-icon .icon-2{
    background-color: #3dd598;
    border-radius: 50% !important;
}

.number-icon .icon-2 {
    color: #3dd598 !important;
}

.number-icon .number, .navbar-custom .login-button {
    background-color: #ffffff !important;
}

// .service-container:hover .number-icon .icon-2 {
//     color: #3dd598 !important;
// }

a {
    background-color: transparent;
    text-decoration: none !important;
}

.service-container a:hover {
    color: #3dd598 !important;
    border-radius: 50% !important;
}

.service-container:hover .number-icon .number {
    color: #ffffff;
    background: #3dd598 !important;
    border-color: #ffffff !important;
}

.service-container:hover .number-icon .icon-2 i {
    color: #ffffff !important;
}

.service-container {
        .content {
            .title {
        transition: all 0.5s ease;
        } 
    }
}

.text-dark {
    color: #2f3c4e !important;
}

.service-container:hover .content .title {
    color: #3dd598 !important;
    .MuiSvgIcon-root {
        color: white;
    }
}

// .MuiSvgIcon-root:hover {
//     color: white;
// }

.service-container:hover .number-icon .MuiSvgIcon-root {
    color: white;
}