.searchCityFields {
    flex-direction: column;
    margin-bottom: 20px;
    text-align: center;
}

.Formulaire-incription{
    padding: 10px 140px;

    .blocForm {
        border: 2px solid #A38068;
        margin-bottom: 20px;
    }

    .attachmenBtn {
        background: #87E990;
        border: transparent;
        color: #000000;
    }
    .attachmenBtn:hover {
        background: #87E990;
        border: transparent;
        color: #000000;
    }

    .attachmenBtn:active {
        background: #87E990;
        border: transparent;
        color: #000000;
    }
        
    .label-info-generales {
        text-align: right;
    }
}

@media (max-width: 768px) {
    .Formulaire-incription  {
        padding: 10px;

        .title-form{
            text-align: center;
            font-size: 25px;
            line-height: 30px;
        }

        .label-info-generales {
            text-align: left;
        }
    }
}

.btn-validFields {
    flex-direction: column;
    margin-bottom: 20px;
    text-align: center;
    background-color: #87E990;
}

.iconAttachFile {
    transform:rotate(45deg);
}

.attachmenBtn {
    .MuiButton-label{
        background-color: #87E990;
        text-transform: none;
        padding: 5px 10px;
        .MuiSvgIcon-root {
            margin-right: 5px;
        }
    }
}

//Formulaire d'inscription
.blocButtonForm {
    display: flex;
    justify-content: space-between;
}

.buttonReturn {
    background: transparent;
    border: transparent;
    color: #000000;
}

.buttonReturn:disabled {
    background: transparent;
    border: transparent;
    color: #000000;
}

.buttonReturn:disabled:hover {
    background: transparent;
    border: transparent;
    color: #000000;
}

.buttonReturn:hover {
    background: #87E990;
    border: transparent;
    color: #000000;
}

.buttonReturn:focus {
    background: #87E990;
    border: transparent;
    color: #000000;
}

.buttonStep {
    background: #87E990;
    border: transparent;
    color: #000000;
    margin-left: 10px;
}

.buttonStep:hover {
    background: #87E990;
    border: transparent;
    color: #000000;
}



.text-center {
    text-align: center;
  }

.success {
    margin: 74px 0;
}