.searchCityFields {
    flex-direction: column;
    margin-bottom: 20px;
    text-align: center;
}

.Formulaire-incription{
    padding: 10px 140px;
        
    .label-info-generales {
        text-align: right;
    }
}

@media (max-width: 768px) {
    .Formulaire-incription  {
        padding: 10px;

        .title-form{
            text-align: center;
            font-size: 25px;
            line-height: 30px;
        }

        .label-info-generales {
            text-align: left;
        }
    }
}

.btn-validFields {
    flex-direction: column;
    margin-bottom: 20px;
    text-align: center;
    background-color: #87E990;
}

.iconAttachFile {
    transform:rotate(45deg);
}

.attachmenBtn {
    .MuiButton-label{
        background-color: #87E990;
        text-transform: none;
        padding: 5px 10px;
        .MuiSvgIcon-root {
            margin-right: 5px;
        }
    }
}