.bloc {
    background: #FAF0E6;
    border: 2px solid #49173B;
    margin-bottom: 20px;
    padding: 20px
    
}

.nav-link {
    display: block;
    padding: .5rem 1rem;
    width: 200px;
    text-align: center;
    color: #49173B;
}

@media (max-width: 576px) {
    .bloc {
        padding: 20px 0;
    }

    .nav-link {
        width: 145px;
    }
}

.nav-tabs {
    border: none;
}

.nav-tabs .nav-link {
    border: 1px solid #49173B;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom: 0px;
}

.nav-tabs .nav-link.active {
    color: #ffffff;
    background-color: #49173B;
    border-color: #49173B;
}

.nav-pills .nav-link {
    border: 1px solid #49173B;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom: 0;
}

.nav-pills .nav-link.active {
    color: #ffffff;
    background-color: #49173B;
    border-color: #49173B;
}

.nav-link {
    border: 1px solid #49173B;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom: 0px;
}

.colorBackgroundNav {
    position: relative;
    background: #FAF0E6;
    border: 2px solid #49173B;
    margin-bottom: 75px;
    margin: 0 60px 0 60px;
}

@media (max-width: 576px) {
    .colorBackgroundNav{
        margin: 0;
    }
  }

.textpresentation {
    margin: 45px 10px;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
}

.TitleBlocCity {
    text-align: center;
    margin-top: 20px;
}

.BlocCity {
    padding: 15px 0 20px 0;

    .CityImg {
        padding-bottom: 20px;


        .CityLink {
            text-align: center;
            padding-top: 10px;
            color: #1A73E8;
        }

        .CityNoLink {
            text-align: center;
            padding-top: 10px;
            color: grey;
        }
    }
}


//New format

// .unit-9 .image {
//     background-size: cover;
//     background-position: center center;
//     transition: .3s all ease-in-out;
//     height: 300px;
//     transition: .3s all ease;
//     transform: scale(1.05);
// }

.hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
    background: black;
  }
  
  .hovereffect .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    padding: 50px 20px;
  }

  .hovereffect .AVenir{
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    padding: 80px 20px;
  }
  
  .hovereffect img {
    display: block;
    position: relative;
    max-width: none;
    width: calc(100% + 20px);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-10px,0,0);
    transform: translate3d(-10px,0,0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .hovereffect:hover img {
    opacity: 0.4;
    filter: alpha(opacity=40);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }
  
  .hovereffect .Ville-Title {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    overflow: hidden;
    padding: 0.5em 0;
    background-color: transparent;
    font-size: 24px;
    background: #49173B;
  }
  
  .hovereffect .Ville-Title:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    content: '';
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(-100%,0,0);
    transform: translate3d(-100%,0,0);
  }
  
  .hovereffect:hover .Ville-Title:after {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }
  
  .hovereffect a, .hovereffect p {
    color: #FFF;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(100%,0,0);
    transform: translate3d(100%,0,0);
  }
  
  .hovereffect:hover a, .hovereffect:hover p {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

// .Ville-Title {
//     font-size: 24px;
//     color: #ffffff;
// }