.MuiSvgIcon-root.Map_App {
    font-size: 40px;
}

.MuiSvgIcon-root.Homepage_App {
    font-size: 40px;
}

.MuiSvgIcon-root.Settings_App {
    font-size: 40px;
}


.MuiButtonBase-root.MuiBottomNavigationAction-root.makeStyles-bottomNavigationAction-14.Mui-selected {
    color: white;
    background: #49173B,
}