* {
  box-sizing: border-box;
}

body {
  background: #EEEEEE;
  color: #212121;
  font-family: "Source Sans Pro";
  font-size: 16px;
  padding: 4rem 2rem 2rem;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row wrap;
}

.optin-container {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  width: 30rem;
}

.cta {
  background: #E52B50;
  color: white;
  cursor: pointer;
  display: block;
  font-size: 2rem;
  line-height: 1;
  padding: 1.75rem 1rem;
  text-align: center;
  text-decoration: none;
  width: 100%;
}
@media screen and (max-width: 600px) {
  .cta {
    line-height: 1.4;
    padding: 1.25rem 1rem;
  }
}

form {
  background: #9C2542;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row nowrap;
  padding: 1rem;
  maring: 0;
}
form input {
  padding: 0.75rem;
  margin: 0;
}
form input[type="email"] {
  border: none;
  font-size: 1rem;
  -webkit-box-flex: 1;
          flex: 1;
  outline: #E52B50;
}
form input[type="email"]:focus {
  outline: 0.25rem solid #E52B50;
}
form input[type="submit"] {
  background: -webkit-gradient(linear, left top, left bottom, from(#e84263), to(#e52b50));
  background: linear-gradient(#e84263, #e52b50);
  cursor: pointer;
  color: white;
  border: none;
  font-size: 1rem;
  margin: 0 0 0 1rem;
  padding: 0 3rem;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
form input[type="submit"]:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#e84667), to(#e63054));
  background: linear-gradient(#e84667, #e63054);
}
@media screen and (max-width: 600px) {
  form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-flow: row wrap;
  }
  form input {
    padding: 1rem !important;
    margin: 0 !important;
    -webkit-box-flex: 100%;
            flex: 100%;
  }
  form input[type="submit"] {
    margin-top: 1rem !important;
  }
}

.hidden {
  display: none;
}
