.searchIconZone {
    background-color: #49173B;
    border-radius: 50px 0 0 50px; 
    height: 38px;

    .searchIcon {
        background-color: #49173B;
        border-radius: 50px 0 0 50px; 
        height: 38px;
    }
}

.searchFormControl {
  width: 86%;
  border-radius: 0 50px 50px 0;
  height: 38px;
  border-color: #49173B;
  background-color: #EEEEEE;
}

@media (min-width: 576px) {
.form-inline .form-control {
      width: 135px ;
  }
}
