.horizontal_lign {
    background: #A38068;
    mix-blend-mode: normal;
    border: 1px solid #000000;
    box-sizing: border-box;
    filter: blur(4px);
    width: 380px;
}

.blocServices {
    padding: 20px 0;

    .blocBorder {
        border: 3px solid #49173B;
        border-radius: 10px;
        border-right-color: transparent;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;

        .blocImgBorder {
            padding: 45px 0;
        }

        .blocTextBorder {
            padding: 45px 0;
            text-align: center;
        }
    }

        .blocBorder {
            border: 3px solid #49173B;
            border-right-color: rgb(73, 23, 59);
            border-radius: 10px;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            border-right-color: transparent;
    
            .blocImgBorder {
                padding: 45px 0;
                display: flex;
                justify-content: end;
            }
    
            .blocTextBorder {
                padding: 45px 0;
                text-align: center;
            }
    }

    .blocBorderCenter {
        border: 3px solid #49173B;
        border-top: transparent;
        border-bottom: transparent;
        border-left-color: transparent;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        flex-direction: row-reverse;
        justify-content: flex-end;
        display: flex;

        .blocImgBorder {
            padding: 45px 0;
        }
        
        .blocTextBorder {
            padding: 45px 0;
            text-align: center;
        }
    }

    .blocBorderCenterRDV {
        border: 3px solid #49173B;
        border-top: transparent;
        border-left-color: transparent;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        flex-direction: row-reverse;
        justify-content: flex-end;
        display: flex;

        .blocImgBorder {
            padding: 45px 0;
        }
        
        .blocTextBorder {
            padding: 45px 0;
            text-align: center;
        }
    }
}


.blocBorderTest {
    border: 3px solid #49173B;
    border-radius: 10px;
    border-right-color: transparent;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    flex-direction: row-reverse;
    justify-content: flex-end;
    display: flex;
}


@media (max-width: 576px) {
.blocServices {
    .blocBorder{
        border: none;

        .blocImgBorderMobbile {
            display: flex;
            justify-content: center;
        }
    }

    .blocBorderCenter{
        border: none;
                
        .blocImgBorder {
                width: 100%;
                height: 130px;
                padding: 45px 20px;
            }         
        }
    }
}