.tabs {
    background-Color: #49173B;
    color: #ffffff;
} 

.tabs:hover {
    color: #ffffff;
} 

.linkTab {
    background-Color: #49173B;
    color: #ffffff;
    &:hover {
        color: #ffffff;
    } 
} 

