.tabs {
    background-Color: #49173B;
    color: #ffffff;
} 

.tabs:hover {
    color: #ffffff;
} 

.linkTab {
    background-Color: #49173B;
    color: #ffffff;
    &:hover {
        color: #ffffff;
    } 
} 


.PrivateTabIndicator-colorSecondary-39 {
    background-color: #87E990;
}

//Indicator:{
    //     backgroundColor:'#87E990',