$color-primaire: #87E990;

.App {
    text-align: center;
  }
  
  .topColor {
    background-color: $color-primaire;
    height: 15px;
    left: 0;
    top: 0;
  }
  
  @import url('https://fonts.googleapis.com/css?family=Nunito');

  @font-face {
    font-family: 'Nunito', sans-serif;
    src: url('https://fonts.googleapis.com/css?family=Bungee+Inline')
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Nunito';
    font-weight: 700;
  }

  h1 {
    font-size: 34px;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 28px;
  }

  h4 {
    font-size: 24px;
  }

  h5 {
    font-size: 20px;
  }

  h6 {
    font-size: 16px;
  }

  p {
    font-family: 'Nunito';
    font-size: 14px;
  }
